<%- include('header') %>

<main class="container">
	<div class="row justify-content-center">
		<div class="col-lg-6 col-12">
			<form action="/cotacao" method="GET">
				<label for="cotacao">Valor(R$):</label>
				<input type="text" class="form-control" placeholder="R$" name="valor"/>				

				<label for="cotacao">Cotação do dólar hoje($):</label>
				<% if(cotacaoValorCompra) { %>
				<input type="text" class="form-control" placeholder="$" name="cotacao"  value="<%= cotacaoValorCompra %>"/>
				<% } else{ %>
					<input type="text" class="form-control" placeholder="$" name="cotacao"  value="<%= cotacaoValorVazio %>"/>
				<% } %>
				<button class="btn btn-primary" type="submit">Realizar cotação</button>
			</form>

		</div>
	</div>
</main>

<%- include('footer') %>